@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

$yellow:#f5bf23;
$black: #111;
$white: #fff;
$light-color:#666;
$light-bg: #eee;
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
$border: .1rem solid rgba(0,0,0,.3);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax($val,1fr));
    gap: 2rem;
}

@mixin  titleText($titleSize) {
    font-size: $titleSize;
    color: $black;
    text-transform: capitalize;
}

@mixin  graphText($graphText) {
    font-size: $graphText;
    color: $light-color;
    line-height: 1.5;
}

@mixin  iconBox() {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: $light-bg;
    color: $black;
    cursor: pointer;
    text-align: center;
    &:hover {
        background: $black;
        color: $white;
    }
}

* {
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: 2s linear;
    transition: 2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: #10221B;
}

section {
    padding: 5rem 9%;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: $box-shadow;
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: $white;

    .logo {
        @include titleText(2.5rem);

        i {
            color: $yellow;
        }

        span {
            color: $yellow;
        }

    }
    

    .navbar {
        a {
            @include titleText(2rem);
            margin: 0 1rem;
            text-transform: uppercase;
            color: #10221B;
            transition: all 0.5s;
            &:hover {
                color: $yellow;
            }
        
        }
    }
   

    .icons div {
        @include iconBox();
        margin-left: .3rem;
    }
}




